version: '3.8'

services:
  app:
    build: .
    container_name: d-dimitrov
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    networks:
      - default
    # ⚠️ Не монтирай целия проект върху /app, за да не презаписваш node_modules
    volumes:
      - ./src:/app/src
      - ./public:/app/public

networks:
  default:
    external:
      name: docker_network