
.navigation {
  display: flex;
  z-index: 9;
  list-style-type: none;

  & li a {
    color: white;
    //font-family: "roboto-regular", sans-serif;
    text-decoration: none;
  }
}

.text-2:hover:after {
  width: 35%;
  transition: width .5s;
}

.white {
  color: white !important;
}

.text-1 a:hover {
  color: crimson;
}

.text-2 a:hover {
  color: crimson;
}

.text-3 a:hover {
  color: crimson;
}

.text-4 a:hover {
  color: crimson;
}

.text-5 a:hover {
  color: crimson;
}

.text-6 a:hover {
  color: crimson;
}

.text-7 a:hover {
  color: crimson;
}

.text-8 a:hover {
  color: crimson;
}
.rocket-bgr-improvements{
  cursor: pointer;
  background-color: #000000;
  width: 54px;
  height: 54px;
  text-align: justify;
  & span{
    position: relative;
    top: 10px;
    left: 15px;
  }
}
.bitcoin-logo-improvements{
  width: 54px;
  height: 54px;
  padding: 8px;

  & img {
    width: 34px;
    height: 34px;
  }
}
.sticky .my-logo p span {
  color: var(--color-lio, crimson);
}


.second {
  font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
}

//test
.addP {
  color: red;
  top: 5em;
  right: 5em;
  position: absolute;
}
